
/*********************************************
 * GENERAL
 *********************************************/

// Common lists
$colorsList: (
	muted: $muted,
	info: $info,
	warning: $warning,
	danger: $danger,
	success: $success,
	pop: $pop
);

.persistent {
  visibility: visible !important;
  opacity: 1 !important;
}
.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}
.removed {
  display: none !important;
}

// Use <bspan>, .bspan or .inline-block to get an inline block!
section bspan,
section .bspan,
section .inline-block {
  display: inline-block !important;
}

/*********************************************
 * BACKGROUND
 *********************************************/

@for $i from 1 through 9 {
	html.alpha-0#{$i} .slide-background {
  	opacity: #{$i/10} !important;
	}
}

/*********************************************
* SPECIAL SLIDE CLASSES
*********************************************/

.title-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

	&.fullwidth div{
  	width: 100%;
	}
}

/*********************************************
* BORDERS
*********************************************/

body section {
  & .rounded { 
    border-radius: $borderRadius;
  }
  & .bordered {
    border: $borderThickness solid;
  }
  & .circled {
    border-radius: 50%; 
  }
}

// thickness
@for $i from 2 through 10 {
  .border-#{$i}x {
    border: $i * $borderThickness solid !important;
  }
}

// style
// Common lists
$borderStyles: dotted, dashed, solid, none;

@each $style in $borderStyles {
  .border-#{$style} {
    border-style: $style !important; 
  }
}


// .ba { border-style: solid; border-width: 1px; }
// .bt { border-top-style: solid; border-top-width: 1px; }
// .br { border-right-style: solid; border-right-width: 1px; }
// .bb { border-bottom-style: solid; border-bottom-width: 1px; }
// .bl { border-left-style: solid; border-left-width: 1px; }
// .bn { border-style: none; border-width: 0; }

// .br0 { border-radius: 0 !important; }
// .br1 { border-radius: .125rem !important; }
// .br2 { border-radius: .25rem !important; }
// .br3 { border-radius: .5rem !important; }
// .br4 { border-radius: 1rem !important; }
// .br-100 { border-radius: 100% !important; }
// .br-pill { border-radius: 9999px !important; }
// .br--bottom {
//     border-top-left-radius: 0 !important;
//     border-top-right-radius: 0 !important;
// }
// .br--top {
//     border-bottom-left-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
// }
// .br--right {
//     border-top-left-radius: 0 !important;
//     border-bottom-left-radius: 0 !important;
// }
// .br--left {
//     border-top-right-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
// }

/*********************************************
* TEXT STYLING
*********************************************/

// Fonts
$fontsList: (
  passionone: 'Passion One');

@each $font, $family in $fontsList {
  section .font-#{$font}{
    font-family: $family !important;
  }
}

/////////////////////
// Size

$sizesList: (
	smallest: $smallest,
	smaller: $smaller,
	small: $small,
	normal: $normal,
	big: $big,
	bigger: $bigger,
	biggest: $biggest,
  huge: $huge,
  extreme: $extreme
);

@each $name, $size in $sizesList {
	.#{$name} {
		font-size: $size !important;
	}
}

/////////////////////
// Alignment

$alignList: left, right, center, justify;

@each $pos in $alignList {
	.#{$pos} {
		text-align: $pos !important; 
	}
}

/////////////////////
// STYLES

.strong { font-weight: bold !important;}
.em { font-style: italic !important; }
.u { text-decoration: underline; }
.strike { text-decoration: line-through; }
.tt { font-family: monospace !important; }
.sf { font-family: sans-serif !important; }

section {
	& .framed,
		.boxed {
  border: $borderThickness solid $borderColor;
  padding-left: 10px;
  padding-right: 10px;
	}
	& .framed {
		  border-radius: $borderRadius;
	}
	& .padded,
	  .sided,
	  .quoted {
  		padding: 3px 10px 3px 10px;
	}
	& .sided {
		  border-left: $borderSidedThickness solid lighten($borderColor, 50%);
  		background-color: lighten($borderColor, 80%);
  }
  // if Font Awesome with SVG
	& .quoted {
  		background-color: lighten($borderColor, 80%);
  		font-style: italic;
  		&:before {
  			display: none;
  			content: "\f10d";
  			font-family: "Font Awesome 5 Solid";
			}
			&:after {
				display: none;
  			position: relative;
  			top: 0.3em;
  			content: "\f10e";
  			font-family: 'Font Awesome 5 Solid';
  			padding-left: 0.2em;
			}
  }
  // // if font awesome with CSS
  // & .quoted {
  //   background-color: lighten($borderColor, 80%);
  //   font-style: italic;
  //   &:before {
  //     content: "\f10d";
  //     color: lighten($borderColor, 50%);
  //     font-family: "Font Awesome 5 Free";
  //   }
  //   &:after {
  //     position: relative;
  //     top: 0.3em;
  //     content: "\f10e";
  //     color: lighten($borderColor, 50%);
  //     font-family: 'Font Awesome 5 Free';
  //     padding-left: 0.2em;
  //   }
  // }
}

// hack to style Font Awesome in quoted element
.quoted svg[data-fa-pseudo-element=':before'] {
	position: relative;
  top: -0.5em;
	color: lighten($borderColor, 50%);
	padding-right: 0.3em;
	font-style: 4em;
}
.quoted svg[data-fa-pseudo-element=':after'] {
	position: relative;
  top: 0.3em;
	color: lighten($borderColor, 50%);
	padding-left: 0.2em;
}


/////////////////////
// COLOR Related

@each $name, $color in $colorsList {
	// colors
	.#{$name} {
		color: $color;
	}
	// underline
	.u-#{$name} {
		text-decoration: underline;
  	text-decoration-color: $color;
  	-webkit-text-decoration-color: $color;
	}
	// line through
	.strike-#{$name} {
		text-decoration: line-through;
  	text-decoration-color: $color;
  	-webkit-text-decoration-color: $color;
	}
	// background
	.bg-#{$name}-light {
		background-color: lighten($color, 15%);
		color: darken($color, 30%)
	}
	.bg-#{$name} {
		background-color: $color;
	}
	// border
	.border-#{$name} {
		border-color: $color !important;
	}
  // background with alpha opacity
  @for $i from 1 through 9 {
    .bg-#{$name}-alpha-0#{$i} {
      @include background-opacity($color, $i * 0.1);
    }
  }
}

// color inversion
.inverted{
  background-color: _invert($backgroundColor, $invertedPercentageBackground);
  color: _invert($mainColor, $invertedPercentageMain);
}
.inverted-bg{
  background-color: _invert($backgroundColor, $invertedPercentageBackground);
}
.inverted-color{
  color: _invert($mainColor, $invertedPercentageMain);
}

/*********************************************
* Rotation
*********************************************/

$angle: 5;
@while $angle <= 355 {
  .rotation-#{$angle} {
    -ms-transform: rotate($angle + deg); // IE 9
    -webkit-transform: rotate($angle + deg); // Chrome, Safari, Opera
    transform: rotate($angle + deg);
  }
  $angle: $angle + 5;
}

/*********************************************
* CSS grid
*********************************************/

/* Layout */

.reveal .row {
  margin: 0.1em 0em; }

.reveal .row:before,
.reveal .row:after {
  content: "";
  display: table;
  clear: both; }

.reveal .row *[class*='col-'] {
  box-sizing: border-box;
  position: relative;
  left: 0;
  float: left;
  min-height: 1px;
  padding: 0em 0.15em; }


/* Column Widths */
@for $i from 1 through 100 {
  .col-#{$i} {
    width: $i * 1% !important;
  }
}

/* Column translation */
@for $i from 1 through 100 {
	// to right
  .push-#{$i} {
    left: $i * 1% !important;
  }
  // to left
  .pull-#{$i} {
    left: $i * -1% !important;
  }
  // to bottom
  .drop-#{$i} {
    margin-top: $i * 1% !important;
  }
  // to top
  .lift-#{$i} {
    margin-top: $i * -1% !important;
  }
}
.push-left { 
	float: left;
	display: inline-block; 
}
.push-right {
	float: right;
	display: inline-block;
}
.clearfix {
	clear:both; 
}

/* Any element translation */
@for $i from 1 through 100 {
  // to up
  .up-#{$i} {
    margin-top: $i * -1% !important;
  }
  // to down
  .down-#{$i} {
    margin-top: $i * 1% !important;
  }
  // to left
  .left-#{$i} {
    margin-left: $i * -1% !important;
  }
  // to right
  .right-#{$i} {
    margin-left: $i * 1% !important;
  }
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/*********************************************
 * FRAGMENTS
 *********************************************/

// fragapply latex fragment, when not visible default parameters
section .fragment.fragapply:not(.visible) {
  opacity: 1;
  visibility: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit !important;
}

// .reveal .slides section .fragment.fragapply.visible {
//   opacity: 1;
//   visibility: inherit;
// }


/*********************************************
* FRAGMENT HIGHLIGHT
*********************************************/


@each $name, $color in $colorsList {

  .reveal .slides section .fragment {
    &.highlight-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.visible {
        color: $color;
      }
    }
    &.highlight-current-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        color: $color;
      }
    }
    &.highlight-bg-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.visible {
        background-color: $color;
      }
    }
    &.highlight-bg-#{$name}-white {
      opacity: 1;
      visibility: inherit;
      &.visible {
        color: white;//$backgroundColor;
        background-color: $color;
      }
    }
    &.highlight-current-bg-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        background-color: $color;
      }
    }
    &.highlight-current-bg-#{$name}-white {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        color: white;//$backgroundColor;
        background-color: $color;
      }
    }
    &.underline-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.visible {
        text-decoration: underline $color;
        -webkit-text-decoration: underline $color;
      }
    }
    &.underline-current-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        text-decoration: underline $color;
        -webkit-text-decoration: underline $color;

      }
    }
    &.strike-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.visible {
        text-decoration: line-through $color;
        -webkit-text-decoration: line-through $color;
      }
    }
    &.strike-current-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        text-decoration: line-through $color;
        -webkit-text-decoration: line-through $color;
        
      }
    }
    &.wavy-strike-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.visible {
        text-decoration: line-through wavy $color;
        -webkit-text-decoration: linethrough wavy $color;
      }
    }
    &.wavy-strike-current-#{$name} {
      opacity: 1;
      visibility: inherit;
      &.current-fragment {
        text-decoration: line-through wavy $color;
        -webkit-text-decoration: line-through wavy $color;
      }
    }
  } 
}

